body {
height: 1000px;
padding-left: 1%;
padding-right: 1%;

  .mycontainer {
      height: 100%;
      position: relative;
      width: 100%;
  }

  .nav {
    width:100%;
    padding: 1%;
    background-color: grey;
    color: yellow;
  }

  .nav a {
    color: yellow;
  }

  .nav:hover {
    background-color: yellow;
    color: black;
  }

  .nav:hover a {
    color: black;
  }

  .navoption a{
    margin-right: 10px;
  }
}


.header {
  border: 5px solid #34495E;
  background-color: blue;
  color: white;
  height: 20%;
  width: 100%;
  position: absolute;
}

.footer {
  background-color: blue;
  border: 5px solid #34495E;
  bottom: 0;
  color: white;
  height: 20%;
  width: 100%;
  position: absolute;
}
