body {
height: 1000px;
padding-left: 1%;
padding-right: 1%;

  .mycontainer {
      height: 100%;
      position: relative;
      width: 100%;
  }

  .nav {
    width:100%;
    padding: 1%;
    background-color: #e7e7e7;
    color: #777;
    font-style: normal;
    font-family: cursive;
    font-weight: 800;
    font-size: 15px;
  }

  .nav a {
    color: #777;;
  }

  .nav a:hover {
    font-family: cursive;
  }

  .nav:hover {
    color: #2e2e2e;;
  }

  .nav:hover a {
    color: #2e2e2e;
  }

  .navoption a{
    margin-right: 10px;
  }
}


.header {
  border: 5px solid #34495E;
  background-color: blue;
  color: white;
  height: 60%;
  width: 100%;
  position: absolute;
  background: url('/src/resource/intro-bg.jpg') no-repeat center center;
  background-size: cover;
}

.footer {
  position: absolute;
  bottom: 0;
  border: 5px solid #34495E;
  background-color: #ccc;
  color: white;
  width: 100%;
  height: 200px;
  position: absolute;
}


.innerBox {
  width: 2%;
  height:200px;
  display: inline-block;
  transition: all 0.5s;
  z-index: 10;
}


.outerBox {
  margin: auto;
  position: relative;
  width:100%;
  overflow: hidden;
  max-height: 400px;

}

.innerBox:hover{
    width: 80%;
    z-index: 1000;
    color:red;
}

.innerBox:hover .ab50 {
    color:white;

}


.ab50{
  position: relative;
  top:50%;
  left:50%;
  text-transform: uppercase;
  color: transparent;
  font-size: 20px;
}
