/* Add a black background color to the top navigation */
.topnav {
    background-color: #e7e7e7;
    overflow: hidden;
    background-position: fixed;
    top: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    font-weight: bold;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

.pull-right {
  float: right;
}

.topnav__options > a {
  float: right;
}
